var-background-color = #eaedf1

var-box-shadow--navigation-bar = none

var-text-shadow = none

var-border--focus = none

var-box-shadow--cta = none
var-box-shadow--focus = none
var-box-shadow--down = none

var-border = none