var-background-color = #eaedf1

var-box-shadow--navigation-bar = none

var-text-shadow = none

var-border--focus = none

var-box-shadow = none
var-box-shadow--cta = none
var-box-shadow--focus = none
var-box-shadow--down = none

var-border = var-border-thickness solid transparent

var-padding--navigation-bar = 0
var-color--navigation-bar = #6a7686

var-border-radius = 0